h1 {
    color: blue;
    text-align: center;
    font-size: 80px;
    font-family: Tahoma;
  }

  .welcome {
    font-size: 50px;
    padding: 0 auto;
    background-color: blanchedalmond;

  }

  .dancing {
    filter: drop-shadow(2px 2px 2px);
    width: 600px;
  }

  #design {
    background-color: aquamarine;
  }
